

body
{
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif !important;
  color: white;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.Other-Screen
{
  display: none !important;
}


/*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
* Contenedores
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/
.App
{
  text-align: center;
  background-color: #7962f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/fondos/Fondo_1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: calc(10px + 2vmin);
  
}

.contenedor-Induc-Proyecto
{
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.Tarjeta-Proyecto
{
  border: none !important;
  border-radius: 20px !important;
  height: 250px;
  width: 265px;
  background: url('../img/fondos/Fondo_proyecto.png') no-repeat!important;
  background-size: cover !important;
  color: #fff !important;
}


.Registro-Fondo
{
  height: 100vh;
  background-image: url('../img/fondos/Fondo_1.png');
  background-size: cover;
  background-position: 50% 50%;
}

.RegDatos-Fondo
{
  height: 100vh;
  background-image: url('../img/fondos/FondoDatos.png');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bienvenida-Fondo
{
  height: 100vh;
  background-image: url('../img/fondos/FondoBienvenida.png');
  background-size: cover;
  background-position: center;
}

.Blanco-Fondo
{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

.Caja-Texto{
  height: 450px;
  width: 750px;
  background-color: #131a40;
  border-radius: 50px;
  padding: 80px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 35px rgba(23, 174, 191, 0.2);
}

.Caja-Texto-Blanco
{
  height: 80%;
  width: 80%;
  background-color: #e5e5e5;
  border-radius: 50px;
  padding: 80px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 35px rgba(122, 122, 122, 0.2);
}

.Contenedor-Info-Proyectos
{
  width : 100%;
  height: 99vh;
  padding: 70px 50px 20px 100px;
}


.Modal-Centro
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor_dash_perfil
{
  width: 100%;
  height: 100vh;
  padding: 70px 40px 40px 160px;
}

.dashboard_fluid
{
  width: 100%;
  height: 100%;
}

.card-dash-naranja
{
  background-color: #eb5757;
  border-radius: 15px;
  padding: 30px 15px 0px 35px;
  min-height: 185px; 
}

.card-dash-blanco
{
  background: #F6F7F9;
  border: 2px solid #F6F7F9;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px rgba(55, 84, 170, 0.15), -10px -10px 15px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  min-height: 185px; 
}

.card-dash-azul
{
  background-color: #17AEBF;
  border-radius: 15px;
  min-height: 185px;
  padding: 30px 0px 0px 35px; 
}

.col-card-tl
{
  padding: 0 20px 20px 0 !important;
}

.col-card-tc
{
  padding: 0 20px 20px 20px !important;
}

.col-card-tr
{
  padding: 0 0 20px 20px !important;
}

.col-card-cl
{
  padding: 20px 20px 20px 0 !important;
}

.col-card-cc
{
  padding: 20px 20px 20px 20px !important;
}

.col-card-cr
{
  padding: 20px 0px 20px 20px !important;
}

.col-card-bl
{
  padding: 20px 20px 0 0 !important;
}

.col-card-bc
{
  padding: 20px 20px 0 20px !important;
}

.col-card-br
{
  padding: 20px 0 0 20px !important;
}

.Inicio-Fondo
{
  height: 100vh;
  background-image: url('../img/fondos/Fondo_1.png');
  background-size: cover;
  background-position: 50% 50%;
}

.Contenedor-Inicio
{
  padding: 0px 80px 0px 80px;
  margin-bottom: 50px;
  max-width: 1300px;
}

.NavBar
{
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.Contenedor-Menu
{
  padding: 30px 30px;
}

.Navegador
{
  float: right;
}

.Col-2
{
  width: 50%;
  height: 100vh;
  padding: 0px 15px;
}

.Contenido-Crear
{
  display: block;
  margin: 0px auto 0px auto;
  background-color: #8d8d8d;
}

.Cont-Crear
{
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
* Textos
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/


.modal-title
{
  color: #131A40;
  text-align: center;
  font-weight: bolder;
  right: 39% !important;
  position: absolute;
}

.modal-subtitle
{
  color: #131A40;
  text-align: center;
  font-weight: bolder;
  text-align: left;
}

.card-body
{
  padding: 5px 20px 20px 20px !important;
}

.Texto-Grande
{
  font-weight: 700;
  margin-bottom: 30px;
  color: white !important
}

.Titulo-Tarjeta-P
{
  font-size: 18pt;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
}

.Subtitulo-Tarjeta-P
{
  font-size: 12pt;
  color: white;
  margin-bottom: -5px;
}

.Texto-Mediano
{
  font-weight: 500;
  color: white !important
}

.Text-Center
{
  text-align: center;
}

.Text-Left
{
  text-align: left;
}

.Parrafo-Pequeño
{
  font-weight: 300;
  font-size: 12pt;
  color: white !important
}

.Parrafo-Extra-Pequeño
{
  font-weight: 300;
  font-size: 10pt;
}

.Titulo-Dashboard
{
  color: #131A40;
  font-size: 20pt;
  font-weight: 900;
}

.Parrafo-Bienvenida
{
  margin-bottom: 50px;
}

.Texto-Formulario
{
  font-weight: 200;
  font-size: 8pt;
  margin-bottom: 5px;
  color: white !important
}

.Texto-Nombre-Perfil
{
  font-size: 11pt;
  margin-bottom: 2px !important;
  color:white;
}

.Texto-Progreso
{
  margin-top: 20px;
}

.progreso-actual
{
  color: #eb5757;
  font-weight: 800;
  height: 100px;
}

.progreso-pasado
{
  color: #eb5757;
  top: -15px;
}

.progreso-no
{
  color: #8d8d8d;
  top: -15px;
}

.Circulo-Progreso
{
  position: absolute;
  left: 47%;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #8d8d8d;
  border-radius: 20px;
}

.Linea-Progreso
{
  margin-bottom: -10px;
  width:63% !important;
  margin-left: 20%;
  background-color: #8d8d8d !important;
  height: 3px !important;
}

.progress-bar{
  background-color: #eb5757 !important;
}


.circulo-actual
{
  position: absolute;
  left: 46%;
  top: -6px;
  width: 30px;
  height: 30px;
  background-color: #eb5757;
  border-radius: 30px;
}

.circulo-pasado
{
  position: absolute;
  left: 47%;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #eb5757;
  border-radius: 20px;
}

.Texto-Rol-Perfil
{
  font-size: 10pt !important;
  margin-bottom: 0px !important;
  color: white;
}

.Titulo
{
  font-weight: 700;;
  font-size: 20pt;
}

.Subtitulo
{
  font-weight: 100;
  font-size: 12pt;
}

.Azul
{
  color: #131A40 !important;
}

.Negro 
{
  color: #000 !important;
}

.Blanco
{
  color: white !important;
}

.Gris
{
  color: #8d8d8d !important
}

.Label-Form
{
  position: absolute;
  top: 12px;
  left: 20px !important;
  transition: 0.5s;
  color:rgba(255, 255, 255, 0.473);
  pointer-events: none;
  font-size: 12pt;
  font-weight: 500;
}

.Label-Dark
{
  color:rgba(122, 122, 122, 0.664);
}

.Label-Focus
{
  top: -20px;
  left: 5px !important;
  color: #131a40;
  font-size: 8pt;
}


/*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
* Elementos 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/

.contenedor-subir-foto
{
  width: 100%;
  height: 140px;
  background: #F6F7F9;
  box-shadow: inset 5px 5px 15px rgba(55, 84, 170, 0.15), inset -5px -5px 10px #FFFFFF;
  border-radius: 20px;
}

.modal-backdrop {
  background-color:#131A40 !important;
}

.modal-header
{
  border: none !important;
  position: relative;
  padding: 30px 30px 50px 16px !important;
}

.modal{
  top: 80px !important;
}

.modal-content
{
  background: #F6F7F9 !important;
  box-shadow: 0px 0px 40px rgba(19, 26, 64, 0.2) !important;
  border-radius: 20px !important;
  text-align: center !important;
}

.modal-body
{
  padding: 0px 50px !important;
}

.modal-dialog
{
  max-width: 950px !important; 
  width: 850px !important;
}

.proyecto-boton-menu
{
  background-color: #e7e7e700;
  margin: 0px 0px 0px 210px !important;
  border: none;
}

.proyecto
{
  background-color: rgba(19, 26, 64, 0.692) !important;
  height: 250px;
  width: 265px;
  border-radius: 20px !important;
  backdrop-filter: blur(3px) !important;
  transform: translate3d(-20px, -8px, 0px) !important;
}

.input[type=checkbox]
{
  width: 39px !important;
  height: 39px !important;
  left: 1016.08px !important;
  top: 541.71px !important;

  /* Nuevo Fondo */
  background: #F6F7F9 !important;
  box-shadow: inset 2px 2px 5px rgba(55, 84, 170, 0.25), inset -2px -2px 5px #FFFFFF !important;
  border-radius: 6px !important;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 7px 7px 10px rgba(11, 16, 40, 0.25), -7px -7px 10px rgba(23, 32, 79, 0.5), inset 4px 4px 10px rgba(23, 32, 79, 0.5);
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.panel_control1 .Contenedor-Menu {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(55, 84, 170, 0.15) !important;
  z-index: -10;
  padding: 10px 45px; }
  .panel_control1 .Contenedor-Menu a {
    display: block;
    margin: 0 15px; }
  .panel_control1 .Contenedor-Menu img {
    max-height: 20px; }

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #17AEBF;
}

.radio-toolbar label:hover {
  background-color: rgb(119, 240, 253);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('../img/iconos/Icono-Calendario.svg') no-repeat;
  width: 30px;
  height: 25px;
  border-width: thin;
  margin-right: 15px;
}

.btn-cancelar-edit:hover
{
  color: #fff !important;
  background-color: #eb575796 !important;
}

.Btn-Add-Proyecto
{
  width: 265px;
  border: none;
  font-size: 80pt;
  font-weight: 100;
  color: rgba(19, 26, 64, 0.4);
  background-color: rgba(255, 255, 255, 0);
  height: 250px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 15px rgba(55, 84, 170, 0.15), inset -5px -5px 10px #FFFFFF;
  transition: 0.5s;
}

.Btn-Add-Proyecto:hover
{
  color: #757575;
  background-color: #e7e7e7;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

ul
{
  text-align: center;
}

ul li
{
  position: relative;
  align-items: center;
  display: inline-block;
  width: 33%;
}

.Derecha
{
  float: right;
}
.Izquierda
{
  float: left;
}

input, textarea
{
  border: 0px solid #FFF;
  border-radius: 4px;
}

textarea
{
  resize: none !important;
  padding-top: 13px;
}

.Area-Texto-Crear
{
  height: 130px !important;
  border-radius: 20px !important;
}

.Caja-Centro
{
  position: absolute;
  left: 49%;
  margin-top: 20px;
}

 .Columna-Registro
{
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  background-color: #131a40;
  position:absolute;
  top:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, -50%);
}

.Columna-Perfil{
  height: 100vh;
  width: 240px;
  float: left;
  background-color: #131a40;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top:30px;
  border-radius: 0px 20px 20px 0px ;
}

.Elementos-Perfil
{
  width: 100%;
  height: 100%;
}

.Usuario-Perfil
{
  padding: 0px 15px;
}

.Botones-Perfil
{
  height: 75%;
  display: block;
}

a:visited{color: #fff;}

.Boton-Principal
{
  background-color: #eb5757;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
  transition: 0.3s;
}

.Boton-Export
{
  height: 65px; 
  width: 65px; 
  position:absolute; 
  background-color: #eb5757!important; 
  border:none !important; 
  margin: 0; 
  right: 5px; 
  bottom: -25px;
  border-radius: 50px;
  box-shadow: 2px 4px 10px rgba(235, 87, 87, 0.55);
  transition: 0.3s;
}

.Boton-Export:hover
{
  background-color: #e59b9b!important;
}

.Boton-Principal:hover
{
  background-color: #fff;
  color: #eb5757;
  text-decoration: none;
}

.Boton-Delinieado-Menu
{
  color: #fff; 
  border: solid #eb5757;
  border-radius: 30px;
  border-width: 2px;
  transition: 0.3s;
  font-size: 14px;
  padding: 10px 30px 10px 30px;
}

.Boton-a-Principal-Fondo-Blanco
{
  color: #fff !important;
  background-color: #eb5757;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  margin-left: 140px;
  margin-top: 0px;
  transition: 0.3s;
  border: #fff;
}

.Boton-a-Principal-Fondo-Blanco:hover
{
  background-color: #eb575762;
  border: #fff !important;
}

.Boton-Creacion-Proyecto
{
  margin-left: 0px !important;
  float: right;
}

.Boton-Cancel-Creacion-Proyecto
{
  margin-left: 0px !important;
  float: left;
}


.Boton-Delinieado-Menu:hover
{
  color: #fff;
  text-decoration: none;
  background-color: #eb5757;
}

.Boton-Inverso-Menu
{
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  padding: 15px 30px 10px 30px;
}

.Boton-Inverso-Menu:hover
{
  color: #eb5757;
  text-decoration: none;
}

.Boton-Submit
{
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 60px;
  border-radius: 50px;
  font-size: medium;
  font-weight: 500;
  transition: 0.3s;
}

.Boton-Submit-Pequeño
{
  width: 140px;
  padding-top: 2px;
  margin-top: 20px;
  height: 60px;
  border-radius: 50px;
  font-size: medium;
  font-weight: 500;
  transition: 0.3s;
}

.Boton-Google
{
  background-image: url('../img/iconos/Boton_Google.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: none !important;
  font-family: 'DM Sans' !important;
  width: 300px;
  height: 50px;
  border-radius: 30px !important;
  margin-bottom: 30px;
}


.Icono-Menu-Perfil
{
  color: #fff;
  border-radius: 50px 0px 0px 50px;
  border-width: 2px;
  transition: 0.3s;
  font-size: 14px;
  width: 200px;
  padding: 20px 30px 20px 30px;
  float: right;
}

.Icono-Menu-Perfil:hover
{
  background-color: #ffffff25;
}


.current
{
  background-color: #e5e5e5;
}


.current:hover
{
  background-color: rgba(255, 255, 255, 0.877) !important;
}

.current-Icono
{
  filter: invert(80%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%) !important;
}



.Submit-Principal{
  color: #fff;
  background-color: #eb5757;
}

.Submit-Principal:hover
{
  color: #eb5757;
  background-color: #fff ;
}

.Submit-Inverso
{
  color: #eb5757 !important;
  background-color: #fff ;
}

.Submit-Inverso:hover
{
  color: #fff !important;
  background-color: #eb5757;
}

.Submit-Secundario{
  color: #fff;
  background-color: #131a40;
}

.Submit-Secundario:hover
{
  color: #131a40;
  background-color: #fff ;
}

.Submit-Simple{
  color:  #eb5757;
  background-color: #131a4000;
  border: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.Boton-Dropdown-Proyecto
{
  background-color: rgba(255, 255, 255, 0.0) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 5px 13px 5px 8px !important;
  margin: 3px 0px 0px 205px !important;
  z-index: 1005 !important;
}

.Boton-Dropdown-Proyecto:hover
{
  background-color: rgba(255, 255, 255, 0.39) !important;
}

.Boton-Dropdown
{
  background-color: #131a40 !important;
  border: #131a40 !important;
  padding: 9px 5px 9px 5px !important;
}

.Boton-Dropdown:hover
{
  background-color: rgba(255, 255, 255, 0.39) !important;
}

.Submit-Simple:hover
{
  color: #fff;
  text-decoration: none;
}

.Enlace-Pequeño-Principal
{
  color: #eb5757 !important;
  font-weight: 500;
  transition: 0.3s;
}

.Enlace-Pequeño-Principal:hover
{
  color: #fff !important;
  font-weight: 500;
  text-decoration: none;
}

.Enlace-Pequeño-Secundario
{
  color: #131a40 !important;
  font-weight: 500;
  transition: 0.3s;
}

.Enlace-Pequeño-Secundario:hover
{
  color: #fff !important;
  font-weight: 500;
  text-decoration: none;
}

.Select-Campo-Equipo
{
  position: relative;
  width: 180px;
  float: right;
  height: 50px;
  padding: 13px 10px 0px 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(53, 53, 53, 0.2);
}

.Select-Equipo
{
  font-size: medium ;
  font-weight: 500 ;
  border: none;
  width:100%;
}
.Form-Field
{
  width: 300px;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: medium;
  font-weight: 500;
  background-color: #131A40 !important;
  box-shadow: inset 5px 5px 15px rgba(11, 16, 40, 0.5), inset -5px -5px 4px #17204F;
  margin-bottom: 25px;
  color: white !important;
}
/* Borrar si es necesario*/
.Form-Field:focus ~ .Label-Form,
.Form-Field:valid ~ .Label-Form
{
  top: -20px;
  left: 5px !important;
  color: #131a40;
  font-size: 8pt;
}

.Form-Field:focus ~ .Label-Blanco,
.Form-Field:valid ~ .Label-Blanco
{
  color: #ffffff;
}

.Input-Fondo-Blanco
{
  background: #e5e5e5 !important;
  box-shadow: inset 5px 5px 15px rgba(55, 84, 170, 0.15), inset -5px -5px 10px #FFFFFF !important;
  color: #131a40 !important;
}

@media screen and (max-width: 1450px)
{
  ul li
  {
    width: 200px;
  }
}

@media screen and (max-width: 1160px)
{
  ul li
  {
    width: 150px;
  }
}

@media screen and (max-width: 800px)
{ 
  .Other-Screen
  {
    display: inherit !important;
  }

  .Pc-Screen
  {
    display: none !important;
  }

@media screen and (min-width: 576px){
  .modal-dialog {
    max-width: 850px !important;
  }
}

}