@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?p6pow9');
    src:  url('../../fonts/icomoon.eot?p6pow9#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?p6pow9') format('truetype'),
      url('../../fonts/icomoon.woff?p6pow9') format('woff'),
      url('../../fonts/icomoon.svg?p6pow9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }