@import 'variables';

h1,h2,h3,h4,h5,h6{
    color:$color-textos;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* GLOBAL */
.Boton-a-Principal-Fondo-Blanco
{
    display: block;
    margin: 0 auto;
}
.Boton-a-Principal-Sin-Fondo
{
  color: #eb5757;
  background-color: transparent;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  margin-left: 140px;
  margin-top: 0px;
  transition: 0.3s;
  border: #fff;
  display: block;
  margin: 0 auto;
  &.inline{
      display: inline-block;
  }
}

.Boton-a-Principal-Sin-Fondo:hover
{
  background-color: #eb575762;
  border: #fff !important;
}

#Crear-Implementacion{
    display: none;
}
.Caja-Texto-Blanco{
    background-color: $color-background;
}
.border-radius{
    border-radius: 25px;
    -webkit-box-shadow: inset 9px 8px 10px -7px rgba(55,84,170,0.3);
    -moz-box-shadow: inset 9px 8px 10px -7px rgba(55,84,170,0.3);
    box-shadow: inset 9px 8px 10px -7px rgba(55,84,170,0.3);
}
.input-clear{
    background-color: transparent;
    border: none;
    text-align: center;
}

.btn-custom {
    &.btn-on{
        color:$color-rojo-btn;
    }
}

.global-view{
    .Caja-Centro{
        position: relative;
        display: block;
        width: 100%;
        left: 0;
    }
    .Subtitulo {
        margin-bottom: 60px;
    }
    .title-forms{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .Boton-Creacion-Proyecto{
        float: none;
        margin: auto !important;
        display: inline-block;
    }
}

/* GLOBAL */