$color-textos:#131a40;
$color-textos-alpha:rgba(19, 26, 64, .6);
$color-rojo-btn:#eb5757;
$color-azul-btn:#17AEBF;
$color-azul-btn-alpha: rgba(23,174,191,.20);
$color-background:#F6F7F9;
$color-sombras:#3754AA;
$color-verde: #30CF5D;
$color-gris:#9A9A9A;

// Resolutions 
$break-small: 320px;
$break-mid: 990px;
$break-large: 1200px;
$break-x-large: 1440px;