@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?p6pow9");
  src: url("../../fonts/icomoon.eot?p6pow9#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?p6pow9") format("truetype"), url("../../fonts/icomoon.woff?p6pow9") format("woff"), url("../../fonts/icomoon.svg?p6pow9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

h1, h2, h3, h4, h5, h6 {
  color: #131a40;
  font-weight: 900; }

.subtitle {
  color: #131a40;
  font-weight: 900; }

.uppercase {
  text-transform: uppercase; }

p {
  color: #131a40; }

.bg-color {
  background-color: #F6F7F9; }

html, body {
  color: #131a40;
  height: 100%; }

html {
  overflow-x: hidden; }

a:visited {
  color: #131a40; }

img {
  max-width: 100%; }

.badge-azul {
  background-color: #17AEBF;
  color: #fff; }

.badge-rojo {
  background-color: #eb5757;
  color: #fff; }

.container-fluid {
  padding-left: 60px;
  padding-right: 60px; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

select {
  background-color: transparent;
  text-align: center;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("../../img/iconos/flecha_abajo.svg") 0 0 no-repeat;
  background-position: calc(100% - 21px) calc(0.7em), calc(100% - 16px) calc(0.7em), 100% 0;
  background-size: 20px;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center; }
  select option {
    text-align: center;
    padding-left: 30px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    color: #131a40; }

.select_proyectos label {
  color: #131a40;
  width: 100%;
  text-align: center;
  font-weight: normal; }

.box-shadow {
  -webkit-box-shadow: 11px 20px 46px -35px #3754aa;
  -moz-box-shadow: 11px 20px 46px -35px #3754aa;
  box-shadow: 11px 20px 46px -35px #3754aa;
  position: relative;
  border-radius: 15px;
  background-color: #F6F7F9;
  width: 100%;
  height: 100%;
  padding: 1rem; }
  .box-shadow:before {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: -4px -4px 5px 4px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: -4px -4px 5px 4px rgba(255, 255, 255, 0.7);
    box-shadow: -4px -4px 5px 4px rgba(255, 255, 255, 0.7); }

/* GLOBAL */
.Boton-a-Principal-Fondo-Blanco {
  display: block;
  margin: 0 auto; }
  .Boton-a-Principal-Fondo-Blanco:visited {
    color: #fff; }

.Boton-a-Principal-Sin-Fondo {
  color: #eb5757;
  background-color: transparent;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  margin-left: 140px;
  margin-top: 0px;
  transition: 0.3s;
  border: #fff;
  display: block;
  margin: 2px auto; }
  .Boton-a-Principal-Sin-Fondo.inline {
    display: inline-block; }
  .Boton-a-Principal-Sin-Fondo:visited {
    color: #eb5757; }
  .Boton-a-Principal-Sin-Fondo:hover {
    background-color: #eb575762;
    color: #fff; }
  .Boton-a-Principal-Sin-Fondo:focus, .Boton-a-Principal-Sin-Fondo:active {
    background-color: #eb5757;
    border: #fff !important;
    color: #fff; }

#Crear-Implementacion {
  display: none;
  margin-top: 35px; }

.Caja-Texto-Blanco {
  background-color: #F6F7F9; }

.border-radius {
  border-radius: 25px;
  width: 100%;
  -webkit-box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3);
  -moz-box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3);
  box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3); }

.input-clear {
  background-color: transparent;
  border: none;
  text-align: center; }

.btn-custom {
  padding: 2px 15px;
  text-decoration: none;
  cursor: pointer; }
  .btn-custom.btn-on {
    color: #eb5757; }
  .btn-custom.btn-on-bg {
    font-size: 1rem;
    padding: 2px 25px;
    background-color: transparent;
    color: rgba(19, 26, 64, 0.6);
    border-radius: 25px; }
    .btn-custom.btn-on-bg.active {
      background-color: #eb5757;
      color: #fff; }
  .btn-custom.btn-bg-red {
    background-color: #eb5757;
    color: #fff;
    min-width: 150px;
    border-radius: 25px; }
  .btn-custom.btn-bg-azul {
    background-color: #131a40;
    color: #fff;
    min-width: 150px;
    border-radius: 25px; }
  .btn-custom.btn-bg-azul-claro {
    background-color: #17AEBF;
    color: #fff;
    border-radius: 25px;
    margin: 10px 0; }
  .btn-custom.btn-large {
    padding: 10px 30px;
    max-width: 210px; }
  .btn-custom:hover, .btn-custom:visited, .btn-custom:focus, .btn-custom:active {
    text-decoration: none; }
  .btn-custom.btn-shadow-red {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(235, 87, 87, 0.5);
    -moz-box-shadow: 0px 0px 15px 1px rgba(235, 87, 87, 0.5);
    box-shadow: 0px 0px 15px 1px rgba(235, 87, 87, 0.5); }

.global-view .Texto-Progreso {
  color: rgba(19, 26, 64, 0.6);
  margin-top: 40px;
  font-size: 20px; }

.global-view .Contenedor-Menu {
  background-color: #fff;
  padding: 10px; }
  .global-view .Contenedor-Menu a {
    display: block;
    margin: 0 15px; }
  .global-view .Contenedor-Menu img {
    max-height: 35px; }

.global-view .tab {
  max-width: 750px;
  margin: 0 auto;
  min-height: 450px;
  flex-flow: column nowrap; }
  .global-view .tab.step4 {
    max-width: 1000px; }

.global-view .Caja-Centro {
  position: relative;
  display: block;
  width: 100%;
  left: 0; }

.global-view .Subtitulo {
  margin-bottom: 60px; }

.global-view .title-forms {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: normal; }

.global-view .Boton-Creacion-Proyecto {
  float: none;
  margin: auto !important;
  display: inline-block; }

.global-view .circulo-actual {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -5px;
  left: 49%; }
  .global-view .circulo-actual + p {
    color: #eb5757;
    font-weight: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px; }

.global-view .progreso_global .Circulo-Progreso {
  top: 0; }

.global-view .progreso_global .progreso-no {
  top: -10px; }

.global-view .Circulo-Progreso {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -10px; }

.global-view .content_inputs {
  min-height: 180px; }

.global-view .divider {
  font-size: 80px;
  color: #131a40;
  text-align: center;
  font-weight: 200; }

.global-view .divider_icon {
  position: relative; }
  .global-view .divider_icon::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background-image: url(../../img/iconos/linea-diagonal.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: -90px; }

.global-view .progreso-no {
  top: 0; }

.global-view .circulo-pasado {
  top: -10px;
  left: 48%; }
  .global-view .circulo-pasado + p {
    color: #eb5757;
    font-weight: normal; }
  .global-view .circulo-pasado:after {
    font-family: 'icomoon';
    content: "\e908";
    color: #fff;
    font-size: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    height: 100%; }

.global-view .metricas_content {
  margin-top: 50px; }
  .global-view .metricas_content .subtitle {
    font-size: 25px; }

.global-view form.FormCrear1 {
  min-height: 500px;
  display: block; }

.global-view .modal-header,
.global-view .modal-footer {
  border: none; }

.global-view #exampleModal .modal-body {
  padding: 0 116px; }

.global-view #exampleModalLabel {
  font-size: 30px;
  line-height: 39px;
  color: #eb5757;
  font-weight: bold; }

.global-view .modal-lg {
  max-width: 896px; }

.global-view .modal-content {
  border-radius: 25px;
  background-color: #F6F7F9; }

.global-view .close {
  font-size: 40px; }

.global-view .modal-backdrop {
  background-color: #131a40; }

.global-view .subtitle-form {
  width: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px; }

.global-view .form_download {
  font-size: 25px; }

.global-view .custom-control-label {
  padding-left: 45px; }
  .global-view .custom-control-label::before {
    width: 40px;
    height: 40px;
    top: 0;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3);
    -moz-box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3);
    box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3); }
  .global-view .custom-control-label::after {
    width: 40px;
    height: 40px;
    top: 0; }

.global-view .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #eb5757;
  border-color: #eb5757; }

.global-view .custom-control-input {
  height: 40px;
  width: 40px; }

.inputGroup {
  background-color: transparent;
  display: block;
  margin: 5px 0;
  position: relative;
  width: 100%; }
  .inputGroup label {
    padding: 5px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    border-radius: 25px;
    font-size: 20px;
    line-height: 27px;
    background-color: rgba(23, 174, 191, 0.2); }
    .inputGroup label.categoria {
      background-color: #F6F7F9;
      text-align: left; }
      .inputGroup label.categoria:before {
        background-color: #17AEBF; }
    .inputGroup label:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #17AEBF;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1; }
  .inputGroup input:checked ~ label {
    color: #fff;
    background-color: transparent; }
    .inputGroup input:checked ~ label.categoria h5, .inputGroup input:checked ~ label.categoria p {
      color: #fff;
      text-align: left; }
    .inputGroup input:checked ~ label.categoria img {
      filter: brightness(0) invert(1); }
    .inputGroup input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1; }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden; }

.input-date {
  position: relative; }
  .input-date:before {
    content: '\e906';
    font-family: 'icomoon';
    position: absolute;
    right: 20px;
    top: 7px; }

body.panel_control {
  min-height: auto !important;
  color: #131a40;
  background-color: #F6F7F9; }

.panel_control .NavBar {
  z-index: 2; }

.panel_control .icon_home {
  margin: 25px 27px; }
  .panel_control .icon_home img {
    max-width: 100%;
    display: block; }

.panel_control .Columna-Perfil {
  position: absolute;
  top: 0;
  float: none;
  width: 115px;
  z-index: 3;
  padding-top: 0;
  min-height: auto;
  height: 100%; }

.panel_control .Icono-Menu-Perfil {
  width: auto; }
  .panel_control .Icono-Menu-Perfil img {
    filter: invert(100%) grayscale(100%);
    width: 30px; }
  .panel_control .Icono-Menu-Perfil:hover {
    background-color: #fff; }
    .panel_control .Icono-Menu-Perfil:hover img {
      filter: none; }

.panel_control ul {
  padding-top: 10px; }

.panel_control ul li {
  height: 100px; }

.panel_control .current-Icono {
  filter: none !important; }

.panel_control .Contenedor-Menu {
  background-color: #fff;
  padding: 22px 45px; }
  .panel_control .Contenedor-Menu a {
    display: block;
    margin: 0 15px; }
  .panel_control .Contenedor-Menu img {
    max-height: 35px; }

.panel_control .Texto-Progreso {
  color: rgba(19, 26, 64, 0.6); }

.panel_control .progreso-pasado {
  color: #eb5757;
  font-weight: normal;
  height: 100px; }
  .panel_control .progreso-pasado .Texto-Progreso {
    color: #eb5757;
    font-size: 20px; }

.panel_control .circulo-actual {
  top: 0; }

.panel_control .progreso-no {
  top: 0; }

.panel_control .progreso-actual {
  top: -15px; }
  .panel_control .progreso-actual .Texto-Progreso {
    color: #eb5757;
    font-size: 25px; }

.panel_control .Circulo-Progreso {
  top: -10px; }

.panel_control .circulo-pasado {
  top: 0;
  left: 49%; }

.general_bg {
  background-image: url(../../img/fondos/fondo.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.new-body {
  position: relative;
  margin-top: 80px;
  margin-left: 115px;
  height: 100%;
  padding-top: 15px; }

.contenedor_dashboard {
  position: relative;
  margin-top: 80px;
  margin-left: 115px; }
  .contenedor_dashboard h2 {
    font-size: 2.3rem; }
  .contenedor_dashboard h4 {
    font-size: 1.2rem;
    letter-spacing: 0.125em; }
    @media screen and (max-width: 1440px) {
      .contenedor_dashboard h4 {
        font-size: 1rem; } }
  .contenedor_dashboard .info_general {
    background-color: #eb5757;
    border-radius: 25px;
    color: #fff;
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 25px; }
    .contenedor_dashboard .info_general p, .contenedor_dashboard .info_general h2, .contenedor_dashboard .info_general h3, .contenedor_dashboard .info_general h4 {
      color: #fff; }
    .contenedor_dashboard .info_general .nombre {
      margin-left: 15px;
      max-width: 300px;
      padding-bottom: 15px; }
      .contenedor_dashboard .info_general .nombre p {
        font-size: 1.25rem;
        margin-bottom: 0;
        line-height: 27px; }
    .contenedor_dashboard .info_general .mes {
      background-color: #fff;
      border-radius: 25px;
      color: #131a40;
      font-size: 1.15rem;
      min-width: 210px;
      height: 46px;
      text-transform: uppercase;
      letter-spacing: 0.125em; }
      .contenedor_dashboard .info_general .mes a {
        padding: 5px 8px;
        color: #eb5757; }
        .contenedor_dashboard .info_general .mes a:hover {
          text-decoration: none; }
      .contenedor_dashboard .info_general .mes span {
        margin: 0 5px; }
  .contenedor_dashboard .escalamiento,
  .contenedor_dashboard .conversion {
    height: 100%; }
    .contenedor_dashboard .escalamiento .texto_escalamiento,
    .contenedor_dashboard .escalamiento .texto_escalamiento,
    .contenedor_dashboard .conversion .texto_escalamiento,
    .contenedor_dashboard .conversion .texto_escalamiento {
      padding: 15px 5px 15px; }
    .contenedor_dashboard .escalamiento span,
    .contenedor_dashboard .conversion span {
      font-size: 3.1em;
      color: #131a40;
      font-weight: 900; }
    .contenedor_dashboard .escalamiento p,
    .contenedor_dashboard .conversion p {
      display: inline-block;
      color: #131a40; }
      .contenedor_dashboard .escalamiento p strong,
      .contenedor_dashboard .conversion p strong {
        display: block;
        color: #30CF5D; }
  .contenedor_dashboard .dias span {
    font-size: 74px;
    color: #131a40;
    font-weight: 900;
    width: 100%;
    margin: 0 auto;
    display: block;
    line-height: 73px;
    text-align: center;
    letter-spacing: 0.085em; }
  .contenedor_dashboard .grafica {
    width: 100% !important;
    height: 400px !important;
    display: block; }
  .contenedor_dashboard .img_icons {
    margin: 0 10px; }
  .contenedor_dashboard .info_dias {
    background-color: #17AEBF;
    color: #fff; }
    .contenedor_dashboard .info_dias h5 {
      margin-top: 2rem;
      margin-bottom: 1em;
      color: #fff; }
    .contenedor_dashboard .info_dias p {
      color: #fff; }
    .contenedor_dashboard .info_dias img {
      margin: 1.5em auto 1.5em 0;
      display: block;
      max-width: 100%; }
  .contenedor_dashboard .p_capacitadas .persona {
    max-width: 100%;
    margin: 0 2px;
    position: relative;
    width: 9px;
    height: 24px;
    display: inline-block;
    color: rgba(19, 26, 64, 0.6); }
    .contenedor_dashboard .p_capacitadas .persona.active {
      color: #131a40; }
    .contenedor_dashboard .p_capacitadas .persona::before {
      font-family: 'icomoon';
      font-size: 1rem;
      width: 100%;
      height: 100%;
      content: '\e92d';
      position: absolute;
      top: 0;
      left: 0; }
  .contenedor_dashboard .p_capacitadas span {
    font-size: 3.1em;
    color: #131a40;
    font-weight: 900;
    text-align: center; }
  .contenedor_dashboard .icon_pesos {
    font-size: 3.1em;
    position: relative;
    font-weight: bold;
    letter-spacing: 0.085em; }
    .contenedor_dashboard .icon_pesos::before {
      content: "$";
      display: inline-block;
      position: relative;
      color: #17AEBF;
      font-weight: bold;
      padding-right: 10px; }
    @media screen and (max-width: 1440px) {
      .contenedor_dashboard .icon_pesos {
        font-size: 40px; } }
  .contenedor_dashboard .total {
    font-size: 1.5em;
    color: #17AEBF;
    padding-left: 45px; }
    .contenedor_dashboard .total em {
      color: #131a40;
      font-style: normal;
      letter-spacing: 0.085em; }
  .contenedor_dashboard .btn-flotante {
    position: absolute;
    right: 37px;
    bottom: 0px;
    height: 95px;
    width: 95px; }

.icono_info {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 15px;
  height: 15px; }
  .icono_info.popup {
    top: -1px;
    right: -30px; }

.icono_mas {
  position: absolute;
  right: 12px;
  width: 9px;
  height: 19px;
  top: 50%;
  font-size: 1em; }
  .icono_mas a {
    display: block; }
  .icono_mas img {
    display: block;
    max-height: 100%; }

.check-blue {
  position: absolute;
  top: -5px;
  right: 10px; }

.required_email {
  position: absolute;
  top: 10px;
  font-size: 25px;
  color: #eb5757;
  right: -6px; }

/* GLOBAL */
/* PERSONAS*/
.Boton-a-Principal-Fondo-Blanco {
  display: inline-block;
  padding: 15px 35px; }
  .Boton-a-Principal-Fondo-Blanco:hover {
    text-decoration: none;
    color: #fff; }

.body-popup .title {
  margin-bottom: 75px;
  margin-top: 50px; }

.body-popup form {
  margin-top: 15px;
  margin-bottom: 25px; }

.body-popup small {
  margin-top: 16px;
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center; }
  .body-popup small a {
    color: #17AEBF; }

.form-control {
  background-color: transparent;
  border: none;
  padding-left: 20px;
  color: #131a40;
  /* WebKit, Blink, Edge */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* Internet Explorer 10-11 */
  /* Microsoft Edge */ }
  .form-control::-webkit-input-placeholder {
    color: #131a40; }
  .form-control:-moz-placeholder {
    color: #131a40; }
  .form-control::-moz-placeholder {
    color: #131a40; }
  .form-control:-ms-input-placeholder {
    color: #131a40; }
  .form-control::-ms-input-placeholder {
    color: #131a40; }

#mejora, .mejora,
#medio, .medio,
#alto, .alto {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }

.tab_presupuesto.step1 .input-group {
  height: 70px; }
  .tab_presupuesto.step1 .input-group input {
    padding: 12px 20px;
    text-align: left; }
  .tab_presupuesto.step1 .input-group a {
    font-size: 20px;
    line-height: 26px; }

.tab_presupuesto.step1 .form-control {
  font-size: 24px;
  height: auto; }

.tab_presupuesto.step1 .border-radius {
  border-radius: 35px; }

#less_persons,
#more_persons {
  font-size: 19px; }

.invitar_mas,
.seleccionar_lista {
  color: #131a40;
  text-decoration: underline;
  position: relative;
  font-size: 1rem;
  margin: 10px 0; }
  .invitar_mas:visited,
  .seleccionar_lista:visited {
    color: #131a40; }
  .invitar_mas:before,
  .seleccionar_lista:before {
    content: '\e90b';
    font-family: 'icomoon';
    background-color: #131a40;
    border-radius: 100%;
    padding: 7px;
    color: #fff;
    margin-right: 5px; }

.invitar_mas:before {
  content: '\e904'; }

.seleccionar_lista:before {
  content: '\e90c'; }

.invitados {
  padding-top: 130px; }
  .invitados .subtitle {
    font-weight: 300;
    margin-bottom: 40px; }
  .invitados .body_p {
    max-width: 580px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    text-align: center; }
  .invitados .btn-custom.btn-large {
    font-size: 24px; }

.nombre_invitados {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 60px; }

.personas h2 {
  margin-bottom: 12px;
  font-size: 2.3rem; }

.personas .nombre {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  margin: 10px 0 7px 0; }

.personas .perfil_persona img {
  display: block;
  margin: auto; }

.personas .cargo {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #9A9A9A;
  letter-spacing: 0.2em; }

.personas .not_found {
  font-size: 24px;
  color: rgba(19, 26, 64, 0.6); }

@media screen and (max-width: 1440px) {
  .personas .radioBtn_container {
    max-width: 33.333333%; } }

.personas .filtro {
  position: relative;
  font-size: 1.1rem; }
  .personas .filtro::before {
    font-family: 'icomoon';
    content: '\e909';
    position: absolute;
    color: #131a40;
    display: block;
    right: 20px;
    top: 6px; }

.personas .grey_effect {
  opacity: .5; }

#radioBtn {
  width: 100%; }
  #radioBtn a {
    border-radius: 35px; }
    #radioBtn a:hover {
      color: #fff; }
  #radioBtn .notActive {
    color: #131a40;
    background-color: transparent; }
    #radioBtn .notActive:hover {
      color: #131a40; }

.panel_lateral {
  position: absolute;
  top: 0;
  z-index: 10;
  right: 15px;
  width: 60%;
  padding-left: 40px;
  transform: translateX(100%);
  transition: transform 2s; }
  @media screen and (max-width: 1200px) {
    .panel_lateral {
      width: 100%; } }
  .panel_lateral.show {
    transform: translateX(0); }
  .panel_lateral h2 {
    text-align: left;
    font-size: 30px; }
  .panel_lateral h4 {
    display: flex;
    align-items: center;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
    .panel_lateral h4 img {
      margin-right: 10px; }
  .panel_lateral h5 {
    font-size: 15px; }
  .panel_lateral .close_btn {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 4;
    width: 18px;
    cursor: pointer; }
  .panel_lateral .padding-panel {
    border-radius: 25px 0 0 25px;
    padding-left: 45px;
    padding-right: 50px;
    -webkit-box-shadow: 0px 3px 13px 5px rgba(55, 84, 170, 0.28);
    box-shadow: 0px 3px 13px 5px rgba(55, 84, 170, 0.28);
    background-color: #F6F7F9; }
  .panel_lateral .cargo {
    font-size: 15px;
    color: #131a40;
    text-align: left; }
  .panel_lateral .datos span {
    font-size: 12px; }
  .panel_lateral .capacitaciones span {
    font-size: 10px; }
  .panel_lateral .capacitaciones .capacitacion {
    min-height: 124px; }
    .panel_lateral .capacitaciones .capacitacion .progress {
      height: 10px; }
  .panel_lateral .perfil_creativo .herramienta {
    flex-basis: 30%; }
  .panel_lateral .perfil_creativo h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #eb5757; }
  .panel_lateral .perfil_creativo span {
    border-right: 1px solid #eb5757; }
  .panel_lateral .perfil_creativo p {
    font-size: 14px;
    line-height: 100%;
    color: #eb5757; }
  .panel_lateral #chartDesempeno {
    height: 250px; }
  .panel_lateral .bg-blue-texture {
    background-image: url("../../img/fondos/Fondo_proyecto.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 10px; }
    .panel_lateral .bg-blue-texture p {
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px; }
    .panel_lateral .bg-blue-texture .progress {
      border-radius: 0; }

/* PERSONAS*/
/* PRESUPUESTO*/
/* .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  } */
/* input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 100%;
    cursor: pointer;
    border-radius: 0; 
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 35px; 
        height: 35px;
        border-radius: 100%;
        background: $color-azul-btn;
        box-shadow: -100vw 0 0 100vw dodgerblue;
        border: 2px solid $color-azul-btn;
    }
    
    &::-webkit-slider-runnable-track {
        background: #ddd;
    }
    
    &::-moz-range-track {
        height: 5px;
        background: #ddd;
    }
    
    &::-moz-range-thumb {
        background: $color-azul-btn;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        // border: 3px solid $color-azul-btn;
        box-shadow: -100vw 0 0 100vw dodgerblue;
        box-sizing: border-box;
    }
    
    &::-ms-fill-lower { 
        background: dodgerblue;
    }
    
    &::-ms-thumb { 
        background: #fff;
        border: 2px solid #999;
        height: 40px;
        width: 20px;
        box-sizing: border-box;
    }
    
    &::-ms-ticks-after { 
        display: none; 
    }
    
    &::-ms-ticks-before { 
        display: none; 
    }
    
    &::-ms-track { 
        background: #ddd;
        color: transparent;
        height: 5px;
        border: none;
    }
    
    &::-ms-tooltip { 
        display: none;
    }
} */
.presupuesto .Titulo {
  font-size: 45px; }

.presupuesto .Subtitulo {
  font-size: 25px; }

.titulo_categorias h5 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 0.125em; }

.titulo_categorias p {
  font-size: 13px;
  color: rgba(19, 26, 64, 0.6); }

.categoria img {
  margin: 0 15px; }

.valores_conversion .progress {
  background-color: rgba(23, 174, 191, 0.2);
  height: 25px; }

.progress-bar {
  border-radius: 0 25px 25px 0; }
  .progress-bar.bg-blue {
    background-color: #17AEBF !important;
    z-index: 1;
    margin-left: -12px; }
  .progress-bar.bg-green {
    background-color: #30CF5D !important;
    z-index: 2; }
  .progress-bar.bg-red {
    background-color: #eb5757 !important; }
  .progress-bar.bg-yellow {
    background-color: #FBD534 !important; }

.presupuesto .texto_escalamiento {
  width: 100%; }

.presupuesto .contenedor_dashboard .total {
  font-size: 22px;
  line-height: 26px;
  display: block;
  margin-left: 10px;
  padding-left: 5px; }

.presupuesto .badge-azul {
  font-size: 11px; }

.presupuesto .contenedor_dashboard .icon_pesos {
  line-height: 52px;
  display: block;
  margin-left: 15px; }

.presupuesto .contenedor_dashboard .grafica {
  height: 300px !important; }

.categorias_presupuesto a {
  text-decoration: none; }

.categorias_presupuesto .icono_mas {
  right: 20px;
  top: 45%;
  z-index: 4; }

.categorias_presupuesto .more_cat {
  color: rgba(19, 26, 64, 0.6);
  font-size: 50px; }

.categorias_presupuesto .bg-blue {
  background-color: #17AEBF; }
  .categorias_presupuesto .bg-blue p {
    color: #fff;
    font-size: 12px; }

.categorias_presupuesto img {
  filter: brightness(0) invert(1); }

.categorias_presupuesto .categoria {
  min-height: 128px; }

#value1,
#value2 {
  font-size: 20px; }

#value1 {
  margin-left: 28%;
  color: #30CF5D; }

#value2 {
  color: #17AEBF;
  margin-left: 15px; }

#p_usado,
#p_programado {
  font-size: 15px;
  position: relative;
  padding-left: 20px; }
  #p_usado:before,
  #p_programado:before {
    content: '\25CF';
    position: absolute;
    left: 0;
    top: 0; }

#p_usado {
  color: #30CF5D; }

#p_programado {
  color: #17AEBF; }

#proyectos_convertidos {
  width: auto !important;
  min-width: 240px;
  border-bottom: 1px solid #9A9A9A;
  text-transform: uppercase;
  padding-left: 0;
  letter-spacing: 0.125em; }

#proyectos_convertidos2 {
  width: auto !important;
  min-width: 240px;
  padding-left: 0; }

#escalamiento,
#tasa_conversion {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin-left: 15px;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-left: 45px; }
  #escalamiento .value,
  #tasa_conversion .value {
    font-weight: 600;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.085em; }
  #escalamiento p,
  #tasa_conversion p {
    margin: 0; }

.valores_escalamiento p {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #9A9A9A;
  font-size: 15px;
  margin: 0 0 0 10px; }
  .valores_escalamiento p strong {
    color: #30CF5D;
    display: block; }

.evaluacion_innovacion .metricas {
  background-color: #17AEBF;
  color: #fff;
  border-radius: 25px;
  height: 100%;
  position: relative; }
  .evaluacion_innovacion .metricas span {
    font-size: 40px;
    display: block;
    text-align: center;
    line-height: 52px; }
  .evaluacion_innovacion .metricas.resultado {
    background-color: #eb5757; }
    .evaluacion_innovacion .metricas.resultado p {
      color: #fff;
      text-align: center;
      margin-bottom: 0;
      font-size: 15px;
      line-height: 16px; }
    .evaluacion_innovacion .metricas.resultado::before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 20px 15px 0;
      border-color: transparent #eb5757 transparent transparent;
      left: -20px;
      position: absolute;
      top: 74px; }

.evaluacion_innovacion h5 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  line-height: 16px; }

.calidad_presupuesto .calidad_relacion {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px; }

.calidad_presupuesto h5 {
  text-transform: uppercase;
  color: #17AEBF;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.265em; }

.calidad_presupuesto .border-dark {
  border-color: rgba(19, 26, 64, 0.6) !important; }

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9; }

.tooltip-inner {
  background-color: #17AEBF;
  color: #fff; }

#ex1 .slider-selection {
  background: #17AEBF; }

#ex1Slider {
  width: 100%; }
  #ex1Slider .slider.slider-horizontal .slider-track {
    height: 5px;
    border-radius: 0; }
  #ex1Slider .slider-selection {
    background-color: #17AEBF;
    background-image: none;
    border-radius: 0; }
  #ex1Slider .slider-handle {
    background-color: #17AEBF;
    background-image: none; }
  #ex1Slider .slider-track-high {
    border-radius: 0;
    background-color: #131a40;
    background-image: none; }

#asignado,
#disponible,
#no_disponible {
  position: relative;
  padding-left: 15px;
  font-size: 20px;
  line-height: 26px;
  width: 100%;
  display: block;
  text-align: center; }
  #asignado::before,
  #disponible::before,
  #no_disponible::before {
    content: '\25CF';
    position: absolute;
    left: -10px;
    font-size: 55px;
    top: -2px;
    line-height: 22px; }

#modalPresupuesto .form_download {
  min-height: auto; }

#asignado::before {
  color: #17AEBF; }

#disponible::before {
  color: rgba(103, 190, 200, 0.5); }

#no_disponible::before {
  color: rgba(175, 218, 224, 0.3);
  left: -25px; }

#slider12a .slider-track-high, #slider12c .slider-track-high {
  background: rgba(175, 218, 224, 0.3);
  border-radius: 0 25px 25px 0;
  /* &::before{
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 100%;
        background-color: rgba(175, 218, 224, 0.3);
        right: 0;
        z-index: 3;
        border-radius: 0 25px 25px 0;
    } */ }

#slider12b .slider-track-low, #slider12c .slider-track-low {
  background: #17AEBF;
  border-radius: 25px 0 0 25px; }
  #slider12b .slider-track-low::before, #slider12c .slider-track-low::before {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 100%;
    background-color: #17AEBF;
    right: -10px;
    z-index: 3;
    border-radius: 0 25px 25px 0; }

#slider12c .slider-selection {
  background: rgba(103, 190, 200, 0.5); }
  #slider12c .slider-selection::before {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 100%;
    background-color: rgba(103, 190, 200, 0.5);
    right: -15px;
    z-index: 3;
    border-radius: 0 25px 25px 0; }

#modalPresupuestoLabel {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px; }

#modalPresupuesto input[type=button] {
  font-size: 24px; }

.slider_presupuesto .form-group {
  margin: 0; }

.slider_presupuesto .slider.slider-horizontal {
  width: 100%;
  height: 60px;
  border-radius: 25px;
  width: 100%;
  -webkit-box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3);
  -moz-box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3);
  box-shadow: inset 9px 8px 10px -7px rgba(55, 84, 170, 0.3);
  margin: 10px auto;
  max-width: 515px; }

.slider_presupuesto .slider.slider-horizontal .tooltip {
  margin-top: 0;
  top: 0; }

.slider_presupuesto .slider.slider-horizontal .slider-track {
  height: 38px;
  border-radius: 0;
  position: relative;
  top: 0;
  margin: 10px 5px;
  width: auto;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none; }

.slider_presupuesto .slider-selection {
  background-color: #17AEBF;
  background-image: none;
  border-radius: 0; }

.slider_presupuesto .slider-handle {
  background-color: #17AEBF;
  background-image: none; }

.slider_presupuesto .slider-handle.custom.custom {
  background-color: transparent;
  display: none; }
  .slider_presupuesto .slider-handle.custom.custom::before {
    content: ''; }

.slider_presupuesto img {
  margin: 0 15px;
  height: 27px; }

.slider_presupuesto .titulo_valores {
  text-transform: uppercase;
  font-size: 16px; }

.min_valor {
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px; }

.max_valor {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px; }

/* PRESUPUESTO*/
