.Boton-a-Principal-Fondo-Blanco {
  display: block;
  margin: 0 auto; }

.Boton-a-Principal-Sin-Fondo {
  color: #eb5757;
  background-color: transparent;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  margin-left: 140px;
  margin-top: 0px;
  transition: 0.3s;
  border: #fff;
  display: block;
  margin: 0 auto; }

.Boton-a-Principal-Sin-Fondo:hover {
  background-color: #eb575762;
  border: #fff !important; }
